@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&family=Raleway:wght@100;200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

button, input{
    border: 1px solid rgba(0, 0, 0, 0.171);
    padding: 0.8rem 2rem;
    border-radius: 5px;
    outline: none;
}

body{
    background-color: rgb(248, 245, 245);
}