.product{


    &__img{
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }

    &__details{
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        gap: 0.5rem;
    }

    &__cta{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}