

.filters{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    margin-top: 2rem;

    &__group{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    &__range{
        display: flex;
        align-items: center;
    }
}